%header
  .nav
    %ul.navi
      %li.menu contact
      %li.menu
        =link_to 'Portfolio','/tells/portfolio'
      %li.menu
        = link_to 'About me','/tells/about'
      %li.menu
        =link_to 'Article', '/article/index'
