%head
  %title About me.
%body.about
  %h1.who Who is Yuichi?
  .about__content.clearfix
    %h1.title about
    %p.introduce Koenji JAPAN 代表 滝山です。
    %section.profile
      .profile-text
        %h2.title Profile
        %p 株式会社 Koenji JAPAN代表：滝山。
        %p 静岡県沼津市出身 94年生まれ
        %p 高校時代の修学旅行で訪れたオアフ島のウォルマートに感銘を受け、海外旅行の虜になる。
        %p  以後、バックパックを背負い東南アジアや東アジアを中心にフラフラする。
        %p 大学を卒業後、名古屋や豊橋でサラリーマン生活を送るもここには書けない黒い事情もあり退職
        %p  2018年、高円寺に拠点を移しひっそりと生活。
      .profile-image
        = image_tag "me.JPG", size: "500x350", alt: "test"