!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => ""}/
    %title Yuichi Official Website
    / %link{:href => "stylsheets", :rel => "stylesheet"}/
  %body#index
    =render 'tells/nav'
    #wrap
      .content
        %h1.title Shooting my journey and your lives!
        %p.attentions This is Yuichi's Official website.
        %p.test

