!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => ""}/
    %title Yuichi Official Website
    %link{:href => "css/style.scss", :rel => "stylesheet"}/
  %body#index
    %header
      .nav
        %ul.navi
          %li.menu Menu
          %li.menu About
          %li.menu contact
    #wrap
      .content
        %h1.word Who's he?
        %p.attentions この人物はフィクションです。実在の人物、団体などとは一切関係がございません。クレームは胸の中に秘めておきましょう。以上！
        %p.test テスト！
        %p.btn
          = link_to 'Index Page', 'portfolio.html'
