!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => ""}/
    %title Yuichi Official Website
    / %link{:href => "stylsheets", :rel => "stylesheet"}/
  %body#index
    %header
      .nav
        %ul.navi
          %li.menu contact
          %li.menu 
            = link_to 'About','tells'
    #wrap
      .content
        %h1.title Test
        %p.attentions この人物はフィクションです。実在の人物、団体などとは一切関係がございません。
        %p.test テスト！
        .btn

