  .nav{
    .navi{
      .menu{
        float:right;
        font-size:20px;
        margin:0 20px;
        color:white;
        }
        a{
          text-decoration:none;
        }
        a:visited {
        color: white;
        }
      }
    }