/*
* = require_tree .
*/
#index {
  background-image: url(DSC_1158.JPG);
  background-repeat: no-repeat;
  background-position: center,center;
  background-attachment: fixed;
  background-size: cover;

  .nav{
    .navi{
      .menu{
        float:right;
        font-size:20px;
        margin:0 20px;
        }
      }
    }
    .title{
        font-size: 100px;
        line-height:1;
        font-family:serif;
        color:Black;
        text-align:center;

    }
  .content{
  padding-top:150px;
    .attentions{
    font-size:16px;
    color:red;
    }
    .btn{
      .test{
      background-color:#009cd3;
      color:white;
      font-size:20px;
      font-family:'Bitter', serif;
      border-radius:6px;
      width:185px;
      text-align:center;
        .test :visited {
        color:white;
        }
      }
    }
  }
}
