#index {
  background-image: url(DSC_1158.JPG);
  background-repeat: no-repeat;
  background-size: cover;

  .nav{
    .navi{
      .menu{
        float:right;
        font-size:20px;
        margin:0 20px;
        }
      }
    }
    .word{
        font-size: 100px;
        line-height:1;
        font-family: 'Bitter', serif;
        color:Black;
        text-align:center;

    }
  .content{
  padding-top:150px;
    .attentions{
    font-size:16px;
    color:red;
      }
  }
}
