.about{
  background-image: url(IMG_6750.JPG);
  background-repeat: no-repeat;
  background-position: center,top;
  background-attachment: fixed;
  background-size: 100%, auto;
  clear:both;
  .who{
    font-size: 100px;
    line-height:1;
    font-family:serif;
    color:#ffffff;
    text-align:center;
  }
  .about__content{
    background-color: #ffffff;
    margin-top:850px;
    padding: 30px;
    font-family:serif;
    .introduce{
      font-size:20px;
    }
    .profile{
      .profile-text{
        float:left;
      }
      .profile-image{
        float:right;
        padding-right:55px;
        padding-bottom:25px
      }
    }
  }
}
.clearfix:after{
  content:"";
  display:block;
  clear:both
}